{
  "presets": [
    ["@babel/preset-env", { "modules": "commonjs", "targets": { "browsers": [ "android >= 4" ] } }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    ["@babel/plugin-proposal-class-properties", {"loose": true}],
    // ["@babel/plugin-transform-runtime", {"corejs": 2}]
  ]
}
